@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%)
}

body {
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Violet);
    color: #fff;
    display: flex;
    font-family: 'Open sans', sans-serif;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

p {
    margin-top: 1rem;
    opacity: .8;
    font-size: 1.2rem;
}

.container {
    /* margin: auto 10px;
    max-width: 100%;
    width: 1200px; */
    max-width: 1440px;
    width: 93%;
    margin: 0 auto;
}

.flex {
    display: flex;
    margin: 90px 0 50px;
}

.flex div {
    align-self: center;
}

.flex div:first-child {
    flex: .6;
    margin-right: 20px;
}

.flex div:last-child {
    flex: .4;
    margin-left: 20px;
}

button {
    background-color: #fff;
    color: var(--Violet);
    border: none;
    padding: 17px 80px;
    margin-top: 1.5rem;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0 5px 10ox rgba(0, 0, 0, .3);
    transition: all .3s;
}

button:hover,
button:active {
    background-color: var(--Soft-Magenta);
    color: #fff;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.social-links a:hover {
    color: var(--Soft-Magenta);
    border: 2px solid var(--Soft-Magenta)
}

li:active a {
    fill: var(--Soft-Magenta);
    color: var(--Soft-Magenta);
    border: 2px solid var(--Soft-Magenta)
}

.social-links a {
    height: 50px;
    width: 50px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

@media only screen and (max-width:768px) {
    .flex {
        flex-direction: column;
        margin: 50px 0;
    }

    .flex div:first-child {
        flex: 1;
        margin-right: 0;
    }

    .flex div:last-child {
        flex: 1;
        margin-left: 0;
        text-align: center;
    }

    .social-links {
        justify-content: center;
        margin-right: 0;
    }
}